<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="tablas.html">Generaciones</a></li>
                <li><a href="formulario.html">Encuestas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Generaciones de los dioses griegos</h1>
        <p>La mitología griega está llena de historias fascinantes sobre dioses y diosas que gobernaron el cosmos. A continuación, se presenta una tabla que desglosa las generaciones de estos dioses, incluyendo sus nombres, ascendencia y descendencia.</p>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

        <h2>Generacíones de los dioses segun la mitología griega</h2>

        <table>
            <tr>
                <th>Nombre del dios</th>
                <th>Hijo de:</th>
                <th>Generación:</th>
                <th>Hijos: </th>
            </tr>
            <tr>
                <td>Urano</td>
                <td>Gea</td>
                <td>Primera (Titán)</td>
                <td>Cronos, Rea, Océano, Hiperión</td>
            </tr>
            <tr>
                <td>Cronos</td>
                <td>Urano y Gea</td>
                <td>Segunda(Titán)</td>
                <td>Zeus, Hades, Poseidon, Hera</td>
            </tr>
            <tr>
                <td>Zeus</td>
                <td>Cronos y Rea</td>
                <td>Tercera (Olimpo)</td>
                <td>Atenea, Apolo, Artemisa, Ares, Perséfone</td>
            </tr>
            <tr>
                <td>Poseidón</td>
                <td>Cronos y Rea</td>
                <td>Tercera (Olimpo)</td>
                <td>Tritón, Polifemo</td>
            </tr>
            <tr>
                <td>Hades</td>
                <td>Crono y Rea</td>
                <td>Tercera (Olimpo)</td>
                <td>Macaria</td>
            </tr>
            <tr>
                <td>Hera</td>
                <td>Cronos y Rea</td>
                <td>Tercera (Olimpo)</td>
                <td>Ares, Hebe, Hefesto</td>
            </tr>
            <tr>
                <td>Atenea</td>
                <td>Zeus y Metis</td>
                <td>Tercera (Olimpo)</td>
                <td>Ninguno</td>
            </tr>
            <tr>
                <td>Apolo</td>
                <td>Zeus y Leto</td>
                <td>Tercera (Olimpo)</td>
                <td>Asclepio</td>
            </tr>
            <tr>
                <td>Artemisa</td>
                <td>Zeus Y Leto</td>
                <td>Tercera (Olimpo)</td>
                <td>Ninguno</td>
            </tr>
            <tr>
                <td>Ares</td>
                <td>Zeus Y Hera</td>
                <td>Tercera (Olimpo)</td>
                <td>Fobos, Deimos</td>
            </tr>
            <tr>
                <td>Afrodita</td>
                <td>Urano (nacida del mar) </td>
                <td>Tercera (Olimpo)</td>
                <td>Eros, Harmonia, entre otros</td>
            </tr>
        </table>

        <h3>Primera Generacion: LOS TITANES</h3>
        <p>La primera generación de dioses griegos está compuesta por los Titanes, hijos de Gea (la Tierra) y Urano (el Cielo). Urano y Gea tuvieron muchos hijos, pero los más importantes fueron los Titanes. Entre ellos se destacan:</p>
       

    </main>
</body>
</html>